/* 
    #10A344
    #11AD24
    #289617
    #3C820A
    #7FB305
*/

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header {
    background-color: #3C820A;;
}
nav {
    background-color: #3C820A;
}

body {
    background-image: url("../img/fondo_Index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.link {
    color: black;
    padding: 20px 30px;
}

.link:hover {
    color: black;
    padding: 20px 50px;
}

/*      BARRA DE NAVEGACION     */
nav th {
    font-size: larger;
    float: left;
    padding: 10px 0;
}

nav th:hover {
    font-size: larger;
    float: left;
    padding: 8px 0;
    border-bottom: 4px solid  #1f3f08;
    background-color: #7FB305;
    border-radius: 10px;
}

/*      BODY        */

article {
    padding: 40px;
}

article img {
    padding: 40px 60px;
}

aside {
    float: right;
}

article h3 {
    padding-bottom: 20px;
}

.enc {
    color: black;
    margin: 10px 80px;
    padding: 5px 30px;
    border-bottom: 4px solid  #1f3f08;
    background-color: #7FB305;
    border-radius: 10px;
}

.enc:hover {
    padding: 10px 35px;
    margin: 10px 75px;
}

/*      TABLAS EN ARTICULOS     */

table {
    background-color: #3C820A;
    border-radius: 10px;
}

article th {
    font-size: larger;
    float: left;
    padding: 10px 20px;
}

article th:hover {
    color: black;
    font-size: larger;
    padding: 8px 0;
    border-bottom: 4px solid  #1f3f08;
    background-color: #7FB305;
    border-radius: 10px;
}

/*      FONDO DE LA PAGINA      */

footer {
    background-color: #3C820A;
    padding: 16px 0;
}

footer img {
    float: right;
    margin: -8px 10px;
}

footer img:hover {
    height: 50px;
    margin: -14px 10px;
}